


body {
	font-family: roboto;
	
}
.smallishDiv{
	height: 10000px;
	background: linear-gradient(#ff6018, white);
}
paper-header-panel{
	background-color: white;
}
paper-toolbar.main{
	background: white;
	color: #ff6018;
}


